&lt;div class=&quot;paragraph-container&quot;&gt;
	&lt;ol&gt;
		&lt;li&gt;Това е подреден лист&lt;/li&gt;
		&lt;li&gt;Елемент 1&lt;/li&gt;
		&lt;li&gt;
			Елемент 2
			&lt;ol&gt;
				&lt;li&gt;Елемент 2.1&lt;/li&gt;
				&lt;li&gt;Елемент 2.2&lt;/li&gt;
			&lt;/ol&gt;
		&lt;/li&gt;
		&lt;li&gt;Елемент 3&lt;/li&gt;
	&lt;/ol&gt;
&lt;/div&gt;