<button>основен бутон</button>

<button class="ghost-button">кух бутон</button>

<button class="grey-button">сив бутон</button>

<button class="add-fab" data-anijs="if: click, do: $toggleClass collapsed, to: .fab-options-wrapper; if: click, do: $toggleClass rotated-fab; if: mouseover, do: $toggleClass clip, to: .fab-wrapper; if: mouseout, do: $toggleClass clip, to: .fab-wrapper"></button>

<button class="modal-submit">