<div class="label-wrapper-flex">
	<p>Как беше?</p>
	<div class="foodReaction-great" data-anijs="if: click, do: $toggleClass selected-reaction;"></div>
	<div class="foodReaction-meh"></div>
	<div class="foodReaction-nogood"></div>
</div>