{% pattern-lab-head %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>BB-Team Style Guide</title>
		<meta name="author" content="">
		<!-- Mobile Specific Metas
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no; user-scalable=0;"/>
		<!-- CSS
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="../../stylesheet.css">
	</head>
	<body class="{{ bodyClass }}">
		<section>
			<div class="container">