<fieldset>
    <div class="label-wrapper">
        <input id="text" type="text" required>
        <label for="text">Text Input</label>
    </div>
    <div class="label-wrapper">
        <input id="password" type="password" required>
        <label for="password">Password</label>
    </div>
    <div class="label-wrapper">
        <textarea id="textarea" required></textarea>
        <label for="textarea">Textarea</label>
    </div>
</fieldset>