&lt;div class=&quot;paragraph-container&quot;&gt;
	&lt;p&gt;&lt;a href=&quot;#&quot;&gt;Това е текстов линк&lt;/a&gt;&lt;/p&gt;

	&lt;p&gt;&lt;strong&gt;Това е strong.&lt;/strong&gt;&lt;/p&gt;

	&lt;p&gt;&lt;em&gt;Това е emphasis.&lt;/em&gt;&lt;/p&gt;

	&lt;p&gt;&lt;s&gt;Това е зачеркнат текст&lt;/s&gt;&lt;/p&gt;

	&lt;p&gt;Горна позиция&lt;sup&gt;&reg;&lt;/sup&gt;&lt;/p&gt;

	&lt;p&gt;Долна позиция H&lt;sub&gt;2&lt;/sub&gt;O&lt;/p&gt;

	&lt;p&gt;&lt;small&gt;Това е small, най-малкият използваем шрифт.&lt;/small&gt;&lt;/p&gt;

	&lt;p&gt;Това е &lt;mark&gt;маркиран текст&lt;/mark&gt;&lt;/p&gt;
	
&lt;/div&gt;&lt;!--end .text--&gt;
