body { 
	font-family: 'Roboto', -apple-system-body, 'Helvetica', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5rem;
	color: #545459;
	background-color: #fafafa;
	text-rendering: optimizeLegibility;
}

p { 
	margin-bottom: 1rem;
	text-align: left;
}

.label-wrapper-flex { 
	display: flex;
	margin-right: 1rem;
	flex: 1 0 50%;
	align-self: flex-end;
}

.label-wrapper-flex p { 
	line-height: 36px;
	margin: 0 1rem 0 0;
}

.label-wrapper-flex:first-child { 
	margin-bottom: 1rem;
}

.foodReaction-great, .foodReaction-meh, .foodReaction-nogood { 
	width: 36px;
	height: 36px;
	margin-right: 1rem;
	cursor: pointer;
	transition: all 150ms ease;
	transform: scale(0.8);
	opacity: .5;
	background-repeat: no-repeat;
}

.foodReaction-great:hover, .foodReaction-meh:hover, .foodReaction-nogood:hover { 
	transform: scale(1);
	opacity: 1;
	opacity: .75;
}

.foodReaction-great { 
	background-image: url(&quot;../images/great.svg&quot;);
}

.foodReaction-meh { 
	background-image: url(&quot;../images/meh.svg&quot;);
}

.foodReaction-nogood { 
	background-image: url(&quot;../images/nogood.svg&quot;);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin,cyrillic-ext); {
	* { 
		position: relative;
		box-sizing: inherit;
		margin: 0;
	}

	body { 
		line-height: 1;
	}

	html { 
		box-sizing: border-box;
		font-size: 16px;
	}


}

@media (min-width: 750px) {
	html { 
		font-size: 18px;
	}


}

@media (min-width: 1900px) {
	html { 
		font-size: 24px;
	}


}

@media (min-width: 550px) {
	.label-wrapper-flex { 
		align-self: center;
		flex: 1 0 auto;
	}

	.label-wrapper-flex:first-child { 
		margin-bottom: 0;
	}


}

