&lt;div class=&quot;label-wrapper-flex&quot;&gt;
	&lt;p&gt;Как беше?&lt;/p&gt;
	&lt;div class=&quot;foodReaction-great&quot; data-anijs=&quot;if: click, do: $toggleClass selected-reaction;&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;foodReaction-meh&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;foodReaction-nogood&quot;&gt;&lt;/div&gt;
&lt;/div&gt;