&lt;div class=&quot;hover-transition&quot;&gt;
  &lt;p&gt;
    &lt;strong&gt;$hover-transition&lt;/strong&gt;
    trransition: all 150ms ease; (Hover to see effect)
  &lt;/p&gt;
&lt;/div&gt;

&lt;div class=&quot;animation-transition&quot; data-anijs=&quot;if: mouseenter, do: $addClass start-animate, to: .animation-transition-square; if:
mouseleave, do: $removeClass start-animate, to: .animation-transition-square&quot;&gt;
  &lt;p&gt;
    &lt;strong&gt;$animation-transition&lt;/strong&gt;
    trransition: all 300ms cubic-bezier(.5, .1, 0, 1); (Hover to see effect)
  &lt;/p&gt;
  &lt;div class=&quot;animation-transition-square&quot;&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;bouncy-transition&quot;  data-anijs=&quot;if: mouseenter, do: $addClass bounce-animate, to: .bouncy-transition-square; if:
mouseleave, do: $removeClass bounce-animate, to: .bouncy-transition-square&quot;&gt;
  &lt;p&gt;
    &lt;strong&gt;$bouncy-transition&lt;/strong&gt;
    trransition: all 300ms cubic-bezier(.5, .1, 0, 1.2) (Hover to see effect);
  &lt;/p&gt;
  &lt;div class=&quot;bouncy-transition-square&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
