.paragraph-container a
{
    transition: $hover-transition;

    color: inherit;
    border-bottom: 3px solid $highlight-green;
}

.paragraph-container a:hover
{
    border-radius: 2px;
    background-color: $highlight-green;
}
