li
{
    margin-bottom: .5rem;
    li
    {
        margin-left: 1rem;
    }
}

ul
{
    margin-bottom: .5rem;

    list-style: none;
    ul
    {
        margin-top: .5rem;
    }
}

.paragraph-container ul li:before
{
    margin-right: .5rem;

    content: '●';

    color: $text-green;
}

ol
{
    margin-bottom: .5rem;

    list-style: none;

    counter-reset: i 0;
    ol
    {
        margin-top: .5rem;
    }
}

.paragraph-container ol li:before
{
    font-weight: bold;

    margin-right: .5rem;

    content: counter(i);
    counter-increment: i;

    color: $text-green;
}
