p {
    margin-bottom: 1rem;

    text-align: left;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

sup
{
    font-size: .75rem;

    vertical-align: super;
}

small
{
    font-size: .75rem;
    font-weight: 500;
}

sub
{
    font-size: .75rem;

    vertical-align: sub;
}

mark
{
    @extend a:hover;
    color: $black;
}

time
{
    font-weight: 500;

    color: $grey;
}

blockquote
{
    font-size: 1.16rem;
    font-weight: 500;
    line-height: 1.5rem;

    margin: 1.5rem 0;
    padding: 0 0 0 1rem;

    color: $text-green;
    box-shadow: 4px 0 0 0 $text-green inset;
}

.citation
{
    color: $dark-green;
}

.intro
{
    font-weight: 500;
}

.pull-quote
{
    @include tablet
    {
        float: left;

        width: 50%;
    }
}

.slug
{
    color: $grey;
}
