@charset "UTF-8";
/*
Pattern Lab doesn't have any CSS requirements, which means you can write your styles however you want. Hooray!
You can use Sass, Less, vanilla CSS, or some other crazy thing I haven't heard of yet.
So please don't use these styles. They're just here to put together the demo, and nothing more.
They're intentionally gray, boring, and crappy because you're supposed to do this stuff yourself.

Atomic design is philosophically complimentary with these CSS approaches:

* SMACSS by Jonathan Snook http://smacss.com/
* OOCSS by Nicole Sullivan http://oocss.org/
* BEM CSS Methology : http://bem.info/method/
* CSS Guidelines by Harry Roberts : https://github.com/csswizardry/CSS-Guidelines

So feel free to use any of these approaches. Or don't. It's totally up to you.

*/
/*------------------------------------*\
    $TABLE OF CONTENTS
    based generally on Harry Roberts excellent CSS Guidelines https://github.com/csswizardry/CSS-Guidelines
\*------------------------------------*/
/**
 * VARIABLES..............................Declarations of Sass variables
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic-ext);
.animation-demo, .hover-transition, .animation-transition, .bouncy-transition {
  width: 100%;
  padding: 1rem 0 .25rem 0;
  background-color: #ccc;
  margin-bottom: 1rem; }
  .animation-demo p, .hover-transition p, .animation-transition p, .bouncy-transition p {
    text-align: center; }

.hover-transition {
  transition: all 150ms ease; }
  .hover-transition:hover {
    opacity: .5; }

.animation-transition {
  transition: all 300ms cubic-bezier(0.5, 0.1, 0, 1); }

@keyframes animation-transition {
  from {
    left: 0; }
  to {
    left: calc(100% - 3.5rem); } }
.animation-transition-square, .bouncy-transition-square {
  width: 3.5rem;
  height: 100%;
  background-color: #999;
  position: absolute;
  left: 0%;
  top: 0; }

.start-animate, .bounce-animate {
  animation-name: animation-transition;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.5, 0.1, 0, 1);
  animation-direction: alternate;
  animation-iteration-count: infinite; }

.bouncy-transition {
  transition: all 300ms cubic-bezier(0.5, 0.1, 0, 1.2); }

.bounce-animate {
  animation-timing-function: cubic-bezier(0.5, 0.1, 0, 1.2); }

/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
	Usage: @include font-size(1, large);
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
input,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
.ghost-button,
.grey-button,
textarea {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  border: 0;
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

* {
  position: relative; }

body {
  line-height: 1; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

a {
  text-decoration: none;
  color: inherit; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit;
  margin: 0; }

.clearfix:after {
  display: table;
  clear: both;
  content: ''; }

input:focus,
textarea:focus {
  outline-style: none; }

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/
/* Clearfix */
.cf {
  *zoom: 1; }

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

html {
  font-size: 16px; }
  @media (min-width: 750px) {
    html {
      font-size: 18px; } }
  @media (min-width: 1900px) {
    html {
      font-size: 24px; } }

body {
  font-family: 'Roboto', -apple-system-body, 'Helvetica', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #545459;
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  position: relative;
  text-rendering: optimizeLegibility; }

.paragraph-container a {
  transition: all 150ms ease;
  color: inherit;
  border-bottom: 3px solid #d5f5ab; }

.paragraph-container a:hover, .paragraph-container mark {
  border-radius: 2px;
  background-color: #d5f5ab; }

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3rem; }

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: .5rem; }

h3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: .5rem; }

.subheading {
  font-size: 1.34rem;
  line-height: 2rem;
  margin-bottom: 1rem; }

p {
  margin-bottom: 1rem;
  text-align: left; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

sup {
  font-size: .75rem;
  vertical-align: super; }

small {
  font-size: .75rem;
  font-weight: 500; }

sub {
  font-size: .75rem;
  vertical-align: sub; }

mark {
  color: #545459; }

time {
  font-weight: 500;
  color: #9c9da6; }

blockquote {
  font-size: 1.16rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 1.5rem 0;
  padding: 0 0 0 1rem;
  color: #7cba2b;
  box-shadow: 4px 0 0 0 #7cba2b inset; }

.citation {
  color: #089447; }

.intro {
  font-weight: 500; }

@media (min-width: 750px) {
  .pull-quote {
    width: 50%; } }

.slug {
  color: #9c9da6; }

li {
  margin-bottom: .5rem; }
  li li {
    margin-left: 1rem; }

ul {
  margin-bottom: .5rem;
  list-style: none; }
  ul ul {
    margin-top: .5rem; }

.paragraph-container ul li:before {
  margin-right: .5rem;
  content: '●';
  color: #7cba2b; }

ol {
  margin-bottom: .5rem;
  list-style: none;
  counter-reset: i 0; }
  ol ol {
    margin-top: .5rem; }

.paragraph-container ol li:before {
  font-weight: bold;
  margin-right: .5rem;
  content: counter(i);
  counter-increment: i;
  color: #7cba2b; }

img {
  max-width: 100%; }

svg {
  transition: all 150ms ease;
  fill: currentColor; }

figure {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  overflow: hidden; }

figcaption {
  padding: 0 1rem 1rem 1rem;
  margin-top: -.75rem; }

.label-wrapper {
  position: relative; }

input,
textarea {
  font-size: 1rem;
  line-height: 1.5rem;
  z-index: 2;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: .5rem 0;
  transition: all 150ms ease;
  color: #545459;
  border-bottom: 1px solid #9c9da6;
  border-radius: 0;
  background-color: transparent; }
  input:hover,
  textarea:hover {
    border-color: rgba(242, 73, 73, 0.5); }
  input:focus,
  textarea:focus {
    border-color: #f24949; }
  input:hover + label,
  textarea:hover + label {
    color: #f24949; }
  input:focus + label,
  textarea:focus + label {
    transform: translateY(-50%) scale(0.75);
    transform-origin: top left;
    color: #f24949; }
  input:valid + label,
  textarea:valid + label {
    transform: translateY(-50%) scale(0.75);
    transform-origin: top left; }

textarea {
  height: 6rem; }

label {
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 0;
  transition: all 150ms ease;
  color: #9c9da6; }

.table-wrapper {
  width: 100%;
  position: relative;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  margin-bottom: 1rem; }

table {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block; }

th {
  font-weight: 500;
  padding: 1rem;
  text-align: right;
  color: #7cba2b;
  background-color: #fff;
  box-shadow: inset 0px -1px 0px 0px rgba(156, 157, 166, 0.15);
  white-space: nowrap; }

td {
  padding: 1rem;
  text-align: right;
  box-shadow: inset 0px -1px 0px 0px rgba(156, 157, 166, 0.15); }

td:first-child, th:first-child {
  text-align: left;
  padding-left: 1rem;
  font-weight: 500;
  color: #7cba2b; }

tbody tr:nth-child(even) {
  background-color: white; }

tbody tr:hover {
  background-color: #d5f5ab;
  transition: all 150ms ease; }

tbody tr:last-child td {
  box-shadow: none; }

.table-nav-tooltip {
  color: #9c9da6;
  text-align: center; }
  @media (min-width: 550px) {
    .table-nav-tooltip {
      display: none; } }

section {
  padding: 1.5rem 0rem 1.5rem 0rem; }

.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem; }
  @media (min-width: 1000px) {
    .container {
      width: 90%;
      padding: 0rem; } }
  @media (min-width: 1900px) {
    .container {
      width: 80%; } }

.paragraph-container {
  max-width: 38rem;
  margin-bottom: 1.5rem;
  text-align: left; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.grid {
  margin: 0 -10px 0 -10px; }

.col {
  float: left;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0 10px 0 10px; }
  @media (min-width: 750px) {
    .col {
      width: 50%; } }
  @media (min-width: 1000px) {
    .col {
      width: 25%; } }
  @media (min-width: 1900px) {
    .col {
      width: 20%; } }

.flexgrid {
  display: flex;
  margin: 0 -.5rem;
  flex-wrap: wrap; }

.flexcol {
  display: flex;
  margin-bottom: 1rem;
  padding: 0 .5rem;
  flex: 1 1 100%; }
  @media (min-width: 750px) {
    .flexcol {
      flex: 1 1 50%; } }
  @media (min-width: 1900px) {
    .flexcol {
      flex: 0 1 33.33%; } }

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
nav {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  width: 100%; }
  @media (min-width: 1000px) {
    nav {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px; } }

.nav-wrapper {
  z-index: 2;
  display: flex;
  width: 100%;
  padding: 0 1.25rem;
  text-align: center;
  color: #9c9da6;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 1000px) {
    .nav-wrapper {
      flex-wrap: nowrap; } }

.main-nav {
  display: flex;
  margin: 0 -1.25rem;
  background-color: #fff;
  flex-basis: 120%;
  order: 4; }
  @media (min-width: 1000px) {
    .main-nav {
      margin: 0;
      order: 2;
      flex: 1; } }

.logo {
  width: 111px;
  padding-top: 12px;
  order: 2; }
  @media (min-width: 1000px) {
    .logo {
      padding-top: 18px;
      order: 1; } }
  .logo svg {
    max-width: 111px; }

.navlink, .navlink-myBBteam, .navlink-read, .navlink-store, .navlink-forum {
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: all 150ms ease;
  flex: 1; }
  @media (min-width: 1000px) {
    .navlink, .navlink-myBBteam, .navlink-read, .navlink-store, .navlink-forum {
      padding: 18px 0; } }

.navlink:after, .navlink-myBBteam:after, .navlink-read:after, .navlink-store:after, .navlink-forum:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 50%;
  content: '';
  transform: translateY(-50%);
  background-color: #bbb; }

.navlink:last-child:after, .navlink-myBBteam:last-child:after, .navlink-read:last-child:after, .navlink-store:last-child:after, .navlink-forum:last-child:after {
  opacity: 0; }

.nav-icon {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto 4px auto; }
  @media (min-width: 1000px) {
    .nav-icon {
      display: inline-block;
      margin: 0 .5rem 0 0;
      vertical-align: -40%; } }

.navlink-myBBteam:hover {
  color: #7cba2b; }

.navlink-read:hover {
  color: #ffbd38; }

.navlink-store:hover {
  color: #ff616b; }

.navlink-forum:hover {
  color: #57a7f7; }

.profile {
  width: 36px;
  padding-top: 12px;
  color: #9c9da6;
  order: 1;
  transition: all 150ms ease;
  color: #9c9da6; }
  .profile:hover {
    color: #898a95; }
  .profile:active {
    color: #afb0b7; }
  @media (min-width: 1000px) {
    .profile {
      margin-right: 20px;
      margin-left: 0;
      padding-top: 18px;
      order: 3; } }

.search {
  width: 36px;
  padding-top: 12px;
  order: 4;
  transition: all 150ms ease;
  color: #9c9da6; }
  .search:hover {
    color: #898a95; }
  .search:active {
    color: #afb0b7; }
  @media (min-width: 1000px) {
    .search {
      padding-top: 18px; } }

.subNav {
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  overflow-x: scroll;
  width: 100%;
  margin: 1;
  padding-left: .75rem;
  transform: translateY(-100%);
  opacity: 0;
  text-align: left;
  white-space: nowrap;
  color: #ffbd38;
  background-color: #fff;
  -webkit-overflow-scrolling: touch; }

.subNav ul {
  margin: 0; }

.subNav-link {
  display: inline-block;
  margin: 0;
  padding: 1rem .5rem 1rem .5rem; }

.active {
  transition: all 300ms cubic-bezier(0.5, 0.1, 0, 1);
  transform: translateY(0);
  opacity: 1; }

.card {
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }

.progress-wrapper, .progress-food, .progress-water, .progress-workouts, .progress-shopping, .progress-fridge, .progress-reading, .progress-notes, .progress-measurements {
  width: 100%;
  height: 12px; }

.progress-water {
  width: 47%;
  background-color: #40c9ff; }

.progress-workouts {
  width: 68%;
  background-color: #8bc541; }

.progress-reading {
  width: 23%;
  background-color: #bf8a4d; }

.protein {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100%;
  background-color: #f24949; }

.fat {
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  background-color: rgba(242, 73, 73, 0.5); }

.carbs {
  display: inline-block;
  float: left;
  width: 15%;
  height: 100%;
  background-color: rgba(242, 73, 73, 0.75); }

.consumed-water {
  display: inline-block;
  float: left;
  width: 56%;
  height: 100%;
  background-color: #40c9ff; }

.workout-progress {
  display: inline-block;
  float: left;
  width: 56%;
  height: 100%;
  background-color: #8bc541; }

.card-header {
  margin-bottom: .5rem; }

.card-content {
  padding: 1rem 1rem 0 1rem;
  background-color: #fff; }

.card-title {
  font-weight: 500;
  line-height: 42px;
  display: inline-block;
  margin-right: .5rem;
  cursor: pointer;
  transition: all 150ms ease; }
  @media (min-width: 1000px) {
    .card-title {
      line-height: 3rem; } }
  .card-title:after {
    display: inline-block;
    width: .5rem;
    height: 1rem;
    margin-left: .2rem;
    content: url("seemore.svg");
    transition: all 150ms ease; }
  .card-title:hover {
    opacity: .9; }
  .card-title:hover:after {
    transform: translateX(3px);
    opacity: .9;
    color: #f24949; }

.stats-wrapper {
  float: right;
  margin-right: -1rem; }

.stats, .carbs-stats, .fat-stats, .protein-stats {
  font-weight: 500;
  display: inline-block;
  float: right;
  margin-right: .5rem; }
  .stats p, .carbs-stats p, .fat-stats p, .protein-stats p {
    font-size: .75rem;
    line-height: 1rem;
    margin-bottom: 0;
    text-align: center; }
  .stats p:first-child, .carbs-stats p:first-child, .fat-stats p:first-child, .protein-stats p:first-child {
    line-height: 1.5rem; }

.card-list-volume {
  float: right;
  text-align: right;
  color: #9c9da6; }

.card-icon, .card-icon-food, .card-icon-water, .card-icon-workouts, .card-icon-shopping, .card-icon-fridge, .card-icon-reading, .card-icon-notes, .card-icon-measurements {
  float: left;
  width: 42px;
  height: 42px;
  margin-right: .5rem; }
  @media (min-width: 1000px) {
    .card-icon, .card-icon-food, .card-icon-water, .card-icon-workouts, .card-icon-shopping, .card-icon-fridge, .card-icon-reading, .card-icon-notes, .card-icon-measurements {
      width: 3rem;
      height: 3rem; } }

.card-icon-food {
  background-image: url("{small-food.svg"); }
  @media (min-width: 1000px) {
    .card-icon-food {
      background-image: url("big-food.svg"); } }

.card-icon-water {
  background-image: url("small-drink.svg"); }
  @media (min-width: 1000px) {
    .card-icon-water {
      background-image: url("big-drink.svg"); } }

.card-icon-workouts {
  background-image: url("small-workout.svg"); }
  @media (min-width: 1000px) {
    .card-icon-workouts {
      background-image: url("big-workout.svg"); } }

.card-icon-shopping {
  background-image: url("small-shopping.svg"); }
  @media (min-width: 1000px) {
    .card-icon-shopping {
      background-image: url("big-shopping.svg"); } }

.card-icon-fridge {
  background-image: url("small-fridge.svg"); }
  @media (min-width: 1000px) {
    .card-icon-fridge {
      background-image: url("big-fridge.svg"); } }

.card-icon-reading {
  background-image: url("small-reading.svg"); }
  @media (min-width: 1000px) {
    .card-icon-reading {
      background-image: url("big-reading.svg"); } }

.card-icon-notes {
  background-image: url("small-notes.svg"); }
  @media (min-width: 1000px) {
    .card-icon-notes {
      background-image: url("big-notes.svg"); } }

.card-icon-measurements {
  background-image: url("small-measurements.svg"); }
  @media (min-width: 1000px) {
    .card-icon-measurements {
      background-image: url("big-measurements.svg"); } }

.add-item {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  width: 60%;
  padding: .5rem 0rem;
  cursor: pointer;
  transition: all 150ms ease;
  color: #545459;
  border: none;
  border-radius: 4px; }
  .add-item:hover {
    padding: .5rem .5rem; }
  .add-item:active {
    padding: .5rem 0 .5rem .5rem;
    outline-style: none;
    background-color: #fafafa; }
  .add-item:focus {
    padding: .5rem 0 .5rem .5rem;
    outline-style: none;
    background-color: #fafafa; }

.goto-volume, .submit-item {
  font-size: 1rem;
  line-height: 1.5rem;
  position: absolute;
  top: 0;
  display: inline-blck;
  padding: .5rem 0rem;
  cursor: pointer;
  transform: translateX(-200%);
  pointer-events: none;
  opacity: 0;
  color: #f24949; }

.add-volume {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  float: right;
  width: 40%;
  padding: .5rem 0rem;
  transition: all 150ms ease;
  text-align: right;
  pointer-events: none;
  opacity: 0;
  color: #9c9da6;
  border: none;
  border-radius: 4px; }
  .add-volume:hover {
    padding: .5rem 2rem .5rem 0; }
  .add-volume:active {
    padding: .5rem 2rem .5rem 0;
    outline-style: none;
    background-color: #fafafa; }
  .add-volume:focus {
    padding: .5rem 2rem .5rem 0;
    outline-style: none;
    background-color: #fafafa; }

.add-item::-webkit-input-placeholder {
  color: #f24949; }

.add-item:focus::-webkit-input-placeholder {
  color: #9c9da6; }

.visible {
  pointer-events: auto;
  opacity: 1; }

.invisible {
  pointer-events: none;
  opacity: 0; }

.submit-item {
  position: absolute;
  top: 0;
  right: -4.5%; }

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
button, .ghost-button, .grey-button {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  padding: 8px 16px 7px 16px;
  cursor: pointer;
  transition: all 150ms ease;
  letter-spacing: .6px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  transition: all 150ms ease;
  background-color: #8bc541;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent; }
  button:hover, .ghost-button:hover, .grey-button:hover {
    background-color: #78ad35; }
  button:active, .ghost-button:active, .grey-button:active {
    transform: scale(0.98);
    background-color: #9ccd5c; }

.ghost-button {
  color: #7cba2b;
  background-color: transparent;
  box-shadow: 0 0 0 2px #7cba2b inset; }

.ghost-button:hover {
  color: #fff;
  box-shadow: none;
  transition: all 150ms ease;
  background-color: #8bc541;
  -webkit-backface-visibility: hidden; }
  .ghost-button:hover:hover {
    background-color: #78ad35; }
  .ghost-button:hover:active {
    transform: scale(0.98);
    background-color: #9ccd5c; }

.grey-button {
  color: #9c9da6;
  background-color: transparent;
  box-shadow: 0 0 0 2px #9c9da6 inset; }

.grey-button:hover {
  color: #fff;
  box-shadow: none;
  transition: all 150ms ease;
  background-color: #9c9da6;
  -webkit-backface-visibility: hidden; }
  .grey-button:hover:hover {
    background-color: #898a95; }
  .grey-button:hover:active {
    transform: scale(0.98);
    background-color: #afb0b7; }

.color-wrapper {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }

.color-info {
  padding: 0 .5rem 0 .5rem; }

.color, .color-lightGreen, .color-textGreen, .color-darkGreen, .color-white, .color-black, .color-highlightGreen, .color-grey, .color-yellow, .color-red, .color-blue {
  width: 100%;
  margin-bottom: .5rem;
  padding-bottom: 50%; }

.color-lightGreen {
  background-color: #8bc541; }

.color-textGreen {
  background-color: #7cba2b; }

.color-darkGreen {
  background-color: #089447; }

.color-white {
  background-color: #fafafa; }

.color-black {
  background-color: #545459; }

.color-highlightGreen {
  background-color: #d5f5ab; }

.color-grey {
  background-color: #9c9da6; }

.color-yellow {
  background-color: #ffbd38; }

.color-red {
  background-color: #ff616b; }

.color-blue {
  background-color: #57a7f7; }

.fab-wrapper {
  position: fixed;
  z-index: 2;
  right: 1.5rem;
  bottom: 1.5rem;
  padding-top: 1rem;
  border-radius: 64px; }

.add-fab {
  width: 64px;
  height: 64px;
  margin-bottom: 0;
  transform: rotate(45deg);
  border-radius: 50%;
  background: url("../images/cross.svg") center no-repeat rgba(139, 197, 65, 0.65);
  background-size: 18px; }
  .add-fab:hover {
    background-color: #8bc541; }

.fab-options-wrapper {
  width: 64px;
  padding-left: 8px;
  transition: all 300ms cubic-bezier(0.5, 0.1, 0, 1.2); }
  .fab-options-wrapper ul {
    margin-bottom: 0; }
  .fab-options-wrapper li {
    margin-bottom: 12px; }

.fab-option, .fab-option-food, .fab-option-water, .fab-option-exercise, .fab-option-shopping {
  width: 48px;
  height: 48px;
  margin-bottom: 0;
  padding: 4px 0 0 0;
  border-radius: 48px;
  background-size: 48px; }

.fab-option-food {
  background-image: url("../images/fab-food.svg");
  transition: all 150ms ease;
  background-color: #f24949;
  -webkit-backface-visibility: hidden; }
  .fab-option-food:hover {
    background-color: #f02828; }
  .fab-option-food:active {
    transform: scale(0.98);
    background-color: #f46a6a; }

.fab-option-water {
  background-image: url("../images/fab-water.svg");
  transition: all 150ms ease;
  background-color: #40c9ff;
  -webkit-backface-visibility: hidden; }
  .fab-option-water:hover {
    background-color: #1cbfff; }
  .fab-option-water:active {
    transform: scale(0.98);
    background-color: #64d3ff; }

.fab-option-exercise {
  background-image: url("../images/fab-workout.svg");
  transition: all 150ms ease;
  background-color: #8bc541;
  -webkit-backface-visibility: hidden; }
  .fab-option-exercise:hover {
    background-color: #78ad35; }
  .fab-option-exercise:active {
    transform: scale(0.98);
    background-color: #9ccd5c; }

.fab-option-shopping {
  background-image: url("../images/fab-shopping.svg");
  transition: all 150ms ease;
  background-color: #b467eb;
  -webkit-backface-visibility: hidden; }
  .fab-option-shopping:hover {
    background-color: #a447e7; }
  .fab-option-shopping:active {
    transform: scale(0.98);
    background-color: #c487ef; }

.fab-option-label {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: 6px;
  padding: 0 12px;
  transition: all 150ms ease;
  transform: translateY(-50%);
  text-align: right;
  white-space: nowrap;
  border-radius: 4px;
  background-color: rgba(250, 250, 250, 0.9); }

.rotated-fab {
  transform: rotate(0);
  background-color: #8bc541; }

.rotated-fab-options {
  transform: rotateZ(-45deg); }

.collapsed {
  transform: translateY(109%);
  pointer-events: none;
  opacity: 0; }

.modal-wrapper {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms cubic-bezier(0.5, 0.1, 0, 1);
  text-align: center;
  background-color: rgba(84, 84, 89, 0.45); }

.modalClose {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 24px;
  background: url("../images/cross.svg") center no-repeat;
  background-size: 12px;
  transition: all 150ms ease;
  background-color: #9c9da6;
  -webkit-backface-visibility: hidden; }
  .modalClose:hover {
    background-color: #898a95; }
  .modalClose:active {
    transform: scale(0.98);
    background-color: #afb0b7; }

.entry-modal-food {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

.label-wrapper-food {
  position: relative;
  flex: 1 100%; }
  @media (min-width: 550px) {
    .label-wrapper-food {
      margin-right: 1rem;
      flex: 1;
      flex: 2; } }

.label-wrapper-volume {
  flex: 1 auto; }
  @media (min-width: 550px) {
    .label-wrapper-volume {
      flex: 1; } }

.label-wrapper-flex {
  display: flex;
  margin-right: 1rem;
  flex: 1 0 50%;
  align-self: flex-end; }
  @media (min-width: 550px) {
    .label-wrapper-flex {
      align-self: center;
      flex: 1 0 auto; } }
  .label-wrapper-flex p {
    line-height: 36px;
    margin: 0 1rem 0 0; }
  .label-wrapper-flex:first-child {
    margin-bottom: 1rem; }
    @media (min-width: 550px) {
      .label-wrapper-flex:first-child {
        margin-bottom: 0; } }

.label-wrapper-note {
  flex: 1 100%; }

.modal {
  overflow: hidden;
  width: 95%;
  max-width: 38rem;
  margin: 1rem auto 0 auto;
  padding: 1rem 1rem 0 1rem;
  transition: all 300ms cubic-bezier(0.5, 0.1, 0, 1.2);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }
  @media (min-width: 750px) {
    .modal {
      position: absolute;
      top: 40%;
      left: 50%;
      width: 83.33%;
      margin: 0;
      transform: translate(-50%, -50%); } }
  @media (min-width: 1000px) {
    .modal {
      width: 66.64%; } }
  @media (min-width: 1900px) {
    .modal {
      width: 50%; } }
  .modal h3 {
    margin-bottom: 1rem; }
  .modal input,
  .modal textarea {
    font-size: 1rem;
    line-height: 1.5rem;
    z-index: 2;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: .5rem 0;
    transition: all 150ms ease;
    color: #545459;
    border-bottom: 1px solid #9c9da6;
    border-radius: 0;
    background-color: transparent; }
    .modal input:hover,
    .modal textarea:hover {
      border-color: rgba(242, 73, 73, 0.5); }
    .modal input:focus,
    .modal textarea:focus {
      border-color: #f24949; }
    .modal input:hover + label,
    .modal textarea:hover + label {
      color: #f24949; }
    .modal input:focus + label,
    .modal textarea:focus + label {
      transform: translateY(-50%) scale(0.75);
      transform-origin: top left;
      color: #f24949; }
    .modal input:valid + label,
    .modal textarea:valid + label {
      transform: translateY(-50%) scale(0.75);
      transform-origin: top left; }
  .modal textarea {
    height: 6rem; }
  .modal label {
    font-size: 1rem;
    line-height: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem 0;
    transition: all 150ms ease;
    color: #9c9da6; }

.modal-bottom {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.add-photo-button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 150ms ease;
  opacity: .75;
  background-image: url("../images/add-photo.svg"); }
  .add-photo-button:hover {
    opacity: 1; }

.modal-submit {
  width: 54px;
  height: 54px;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;
  border-radius: 72px;
  background: url("../images/submit.svg") center no-repeat #f24949;
  align-self: flex-end;
  flex-grow: 0;
  transition: all 150ms ease;
  background-color: #f24949;
  -webkit-backface-visibility: hidden; }
  .modal-submit:hover {
    background-color: #f02828; }
  .modal-submit:active {
    transform: scale(0.98);
    background-color: #f46a6a; }
  .modal-submit svg {
    transform: scale(0.8);
    fill: white; }

.off-screen {
  transform: translateY(100%) rotate(-9deg); }
  @media (min-width: 550px) {
    .off-screen {
      transform: translate(-50%, 200%) rotate(-9deg); } }

.foodReaction, .foodReaction-great, .foodReaction-meh, .foodReaction-nogood {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 150ms ease;
  transform: scale(0.8);
  opacity: .5;
  background-repeat: no-repeat; }
  .foodReaction:hover, .foodReaction-great:hover, .foodReaction-meh:hover, .foodReaction-nogood:hover {
    transform: scale(1);
    opacity: 1;
    opacity: .75; }

.foodReaction-great {
  background-image: url("../images/great.svg"); }

.foodReaction-meh {
  background-image: url("../images/meh.svg"); }

.foodReaction-nogood {
  background-image: url("../images/nogood.svg"); }

.selected-reaction {
  transform: scale(1);
  opacity: 1; }
  .selected-reaction:hover {
    opacity: 1; }

.add-water-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }
  .add-water-wrapper p {
    margin-bottom: 0; }

.add-water {
  font-size: .75rem;
  font-weight: 500;
  display: flex;
  margin-bottom: 1rem;
  padding: 18px 0 6px 0;
  cursor: pointer;
  transition: all 150ms ease;
  border-radius: 8px;
  flex: 1 33.33%;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 750px) {
    .add-water {
      margin-bottom: 0; } }
  .add-water object {
    margin-bottom: 8px; }
    @media (min-width: 1000px) {
      .add-water object {
        margin-bottom: 9px; } }
  .add-water p {
    width: 100%;
    margin-bottom: 0;
    text-align: center; }
  .add-water:hover {
    background-color: rgba(64, 201, 255, 0.2); }
  .add-water:active {
    background-color: rgba(0, 174, 243, 0.2); }
