&lt;div class=&quot;paragraph-container&quot;&gt;
  &lt;figure&gt;
    {{&gt; atoms-inline-image }}
    &lt;figcaption&gt;Съхранявайте ядките правилно, не ги оставяйте да се застояват, а при първите признаци на гранясване ги отстранете.&lt;/figcaption&gt;
  &lt;/figure&gt;
&lt;/div&gt;
