<nav>
	<div class="nav-wrapper">
		<a class="profile" href="http://www.bb-team.org">
			<svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 0 36 36">
				<use xlink:href="#profile"></use>
			</svg>
		</a>
		<a class="logo" href="http://www.bb-team.org">
			<svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 -6 110 36">
				<use xlink:href="#logo"></use>
			</svg>
		</a>
		<a href="#" class="search">
			<svg viewBox="0 0 36 36" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
				<use xlink:href="#search"></use>
			</svg>
		</a>
		<ul class="main-nav">
			<li class="navlink-myBBteam">
				<span class="nav-icon">
					<svg viewBox="0 0 36 36">
						<use xlink:href="#my-bb"></use>
					</svg>
				</span>
				<span>Дашборд</span>
			</li>
			<li class="navlink-read" data-anijs="if: click, do: $addClass active, to: .subNav">
				<span class="nav-icon">
					<svg viewBox="0 0 36 36">
						<use xlink:href="#Reading"></use>
					</svg>
				</span>
				<span>Четене</span>
			</li>
			<li class="navlink-store">
				<span class="nav-icon">
					<svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 0 36 36">
						<use xlink:href="#store"></use>
					</svg>
				</span>
				<span>Магазин</span>
			</li>
			<li class="navlink-forum">
				<span class="nav-icon">
					<svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 0 36 36">
						<use xlink:href="#forum"></use>
					</svg>
				</span>
				<span>Форум</span>
			</li>
		</ul>
	</div>
	<div class="subNav">
		<ul>
			<li class="subNav-link">Категория 1</li>
			<li class="subNav-link">Категория 2</li>
			<li class="subNav-link">Категория 3</li>
			<li class="subNav-link">Категория 4</li>
			<li class="subNav-link">Категория 5</li>
			<li class="subNav-link">Категория 6</li>
			<li class="subNav-link">Категория 7</li>
			<li class="subNav-link">Категория 8</li>
			<li class="subNav-link">Категория 9</li>
		</ul>
	</div>
</nav>