&lt;a class=&quot;logo&quot; href=&quot;http://www.bb-team.org&quot;&gt;
	&lt;svg style=&quot;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;&quot; viewBox=&quot;0 -6 110 36&quot;&gt;
		&lt;use xlink:href=&quot;#logo&quot;&gt;&lt;/use&gt;
	&lt;/svg&gt;
&lt;/a&gt;