body { 
	font-family: 'Roboto', -apple-system-body, 'Helvetica', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5rem;
	color: #545459;
	background-color: #fafafa;
	text-rendering: optimizeLegibility;
}

li { 
	margin-bottom: .5rem;
}

ul { 
	margin-bottom: .5rem;
	list-style: none;
}

svg { 
	transition: all 150ms ease;
	fill: currentColor;
}

nav { 
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	width: 100%;
}

.nav-wrapper { 
	z-index: 2;
	display: flex;
	width: 100%;
	padding: 0 1.25rem;
	text-align: center;
	color: #9c9da6;
	background-color: white;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-nav { 
	display: flex;
	margin: 0 -1.25rem;
	background-color: #fff;
	flex-basis: 120%;
	order: 4;
}

.logo { 
	width: 111px;
	padding-top: 12px;
	order: 2;
}

.logo svg { 
	max-width: 111px;
}

.navlink-myBBteam, .navlink-read, .navlink-store, .navlink-forum { 
	margin: 0;
	padding: 12px 0;
	cursor: pointer;
	transition: all 150ms ease;
	flex: 1;
}

.navlink-myBBteam:after, .navlink-read:after, .navlink-store:after, .navlink-forum:after { 
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 50%;
	content: '';
	transform: translateY(-50%);
	background-color: #bbb;
}

.navlink-myBBteam:last-child:after, .navlink-read:last-child:after, .navlink-store:last-child:after, .navlink-forum:last-child:after { 
	opacity: 0;
}

.nav-icon { 
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto 4px auto;
}

.navlink-myBBteam:hover { 
	color: #7cba2b;
}

.navlink-read:hover { 
	color: #ffbd38;
}

.navlink-store:hover { 
	color: #ff616b;
}

.navlink-forum:hover { 
	color: #57a7f7;
}

.profile { 
	width: 36px;
	padding-top: 12px;
	color: #9c9da6;
	order: 1;
	transition: all 150ms ease;
	color: #9c9da6;
}

.profile:hover { 
	color: #898a95;
}

.search { 
	width: 36px;
	padding-top: 12px;
	order: 4;
	transition: all 150ms ease;
	color: #9c9da6;
}

.search:hover { 
	color: #898a95;
}

.subNav { 
	font-size: 1rem;
	line-height: 1.5rem;
	position: absolute;
	z-index: 1;
	top: 100%;
	overflow-x: scroll;
	width: 100%;
	margin: 1;
	padding-left: .75rem;
	transform: translateY(-100%);
	opacity: 0;
	text-align: left;
	white-space: nowrap;
	color: #ffbd38;
	background-color: #fff;
	-webkit-overflow-scrolling: touch;
}

.subNav ul { 
	margin: 0;
}

.subNav-link { 
	display: inline-block;
	margin: 0;
	padding: 1rem .5rem 1rem .5rem;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=latin,cyrillic-ext); {
	* { 
		position: relative;
		box-sizing: inherit;
		margin: 0;
	}

	body { 
		line-height: 1;
	}

	a { 
		text-decoration: none;
		color: inherit;
	}

	html { 
		box-sizing: border-box;
		font-size: 16px;
	}


}

@media (min-width: 750px) {
	html { 
		font-size: 18px;
	}


}

@media (min-width: 1900px) {
	html { 
		font-size: 24px;
	}


}

@media (min-width: 1000px) {
	nav { 
		font-size: 18px;
		font-weight: 500;
		line-height: 27px;
	}

	.nav-wrapper { 
		flex-wrap: nowrap;
	}

	.main-nav { 
		margin: 0;
		order: 2;
		flex: 1;
	}

	.logo { 
		padding-top: 18px;
		order: 1;
	}

	.navlink-myBBteam, .navlink-read, .navlink-store, .navlink-forum { 
		padding: 18px 0;
	}

	.nav-icon { 
		display: inline-block;
		margin: 0 .5rem 0 0;
		vertical-align: -40%;
	}

	.profile { 
		margin-right: 20px;
		margin-left: 0;
		padding-top: 18px;
		order: 3;
	}

	.search { 
		padding-top: 18px;
	}


}

