<div class="paragraph-container">
	<p> <strong>Това е параграф. S: 16/24, M: 18/27, L: 24/36 Максималната му ширина е M: 608, L: 912.</strong> Разбиваме яйцата с млякото, мазнината и меда / захарта. Добавяме брашното, содата, солта и канелата. Всичко се обърква, докато стане хомогенна смес. Накрая слагаме настърганите моркови и джинджифил.</p>
</div>