<div class="paragraph-container">
  <figure>
    {{> atoms-inline-image }}
    <figcaption>Съхранявайте ядките правилно, не ги оставяйте да се застояват, а при първите признаци на гранясване ги отстранете.</figcaption>
  </figure>
</div>
