&lt;svg width=&quot;36px&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#my-bb&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;svg width=&quot;36px&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#Reading&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;svg width=&quot;36px&quot; style=&quot;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#store&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;svg width=&quot;36px&quot; style=&quot;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#forum&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}glass.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}bottle.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}small-food.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }big-food.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }small-water.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-water.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}small-workout.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-workout.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}small-shopping.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-shopping.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}small-fridge.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-fridge.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}small-reading.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-reading.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}small-notes.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-notes.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}small-measurements.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-measurements.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}big-shopping.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;button class=&quot;fab-option fab-option-shopping&quot;&gt;
&lt;/button&gt;

&lt;button class=&quot;fab-option fab-option-exercise&quot;&gt;
&lt;/button&gt;

&lt;button class=&quot;fab-option fab-option-water&quot;&gt;
&lt;/button&gt;

&lt;button class=&quot;fab-option fab-option-food&quot;&gt;
&lt;/button&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}great.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}meh.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}nogood.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;{{ img }}add-photo.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;
