&lt;svg width=&quot;36px&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#my-bb&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;svg width=&quot;36px&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#Reading&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;svg width=&quot;36px&quot; style=&quot;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#store&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;svg width=&quot;36px&quot; style=&quot;fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;&quot; viewBox=&quot;0 0 36 36&quot;&gt;
	&lt;use xlink:href=&quot;#forum&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../glass.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../bottle.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-food.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-food.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-water.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-water.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-workout.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-workout.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-shopping.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-shopping.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-fridge.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-fridge.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-reading.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-reading.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-notes.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-notes.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;42px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../small-measurements.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-measurements.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;54px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../big-shopping.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;button class=&quot;fab-option fab-option-shopping&quot;&gt;
&lt;/button&gt;

&lt;button class=&quot;fab-option fab-option-exercise&quot;&gt;
&lt;/button&gt;

&lt;button class=&quot;fab-option fab-option-water&quot;&gt;
&lt;/button&gt;

&lt;button class=&quot;fab-option fab-option-food&quot;&gt;
&lt;/button&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../great.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../meh.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../nogood.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;

&lt;span&gt;
	&lt;object width=&quot;36px&quot; type=&quot;image/svg+xml&quot; data=&quot;../../add-photo.svg&quot;&gt;
	&lt;/object&gt;
&lt;/span&gt;