&lt;div class=&quot;grid clearfix&quot;&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-lightGreen&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$light-green&lt;br&gt;rgba(139, 197, 65, 1)&lt;br&gt;#8BC441&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-textGreen&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$text-green&lt;br&gt;rgba(124, 186, 43, 1)&lt;br&gt;#7CBA2B&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-darkGreen&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$dark-green&lt;br&gt;rgba(8, 148, 71)&lt;br&gt;#089447&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-highlightGreen&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$highlight-green&lt;br&gt;rgba(213, 245, 171, 1);&lt;br&gt;#D5F5AB&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-white&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$white&lt;br&gt;rgba(250, 250, 250, 1);&lt;br&gt;#fafafa&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-grey&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$grey&lt;br&gt;rgba(156, 157, 166, 1)&lt;br&gt;#9C9DA6&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-black&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$black&lt;br&gt;rgba(84, 84, 89, 1)&lt;br&gt;#545459&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-red&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$red&lt;br&gt;rgba(255, 97, 107, 1)&lt;br&gt;#FF616B&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-yellow&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$yellow&lt;br&gt;rgba(255, 189, 56, 1)&lt;br&gt;#FFBD38&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;col&quot;&gt;
		&lt;div class=&quot;color-wrapper&quot;&gt;
			&lt;div class=&quot;color-blue&quot;&gt;&lt;/div&gt;
			&lt;div class=&quot;color-info clearfix&quot;&gt;
				&lt;p&gt;$blue&lt;br&gt;rgba(87, 167, 247, 1)&lt;br&gt;#57A7F7&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;