&lt;p&gt;&quot;Roboto Regular (400)&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p style=&quot;font-weight: 500&quot;&gt;&quot;Roboto Medium (500)&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;&quot;Roboto Bold (600)&quot;, &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;&lt;/strong&gt;&lt;/p&gt;