button
{
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 1.5rem;
    padding: 8px 16px 7px 16px;

    cursor: pointer;
    transition: $hover-transition;
    letter-spacing: .6px;
    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;

    @include setBgColorAndHover($light-green);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.ghost-button
{
    color: $text-green;
    background-color: transparent;
    box-shadow: 0 0 0 2px $text-green inset;

    @extend button;
}

.ghost-button:hover
{
    color: #fff;
    box-shadow: none;

    @include setBgColorAndHover($light-green);
}

.grey-button
{
    color: $grey;
    background-color: transparent;
    box-shadow: 0 0 0 2px $grey inset;

    @extend button;
}

.grey-button:hover
{
    color: #fff;
    box-shadow: none;

    @include setBgColorAndHover($grey);
}
