.grid
{
    margin: 0 -10px 0 -10px;
}

.col
{
    float: left;

    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0 10px 0 10px;

    @include tablet
    {
        width: 50%;
    }
    @include desktop
    {
        width: 25%;
    }
    @include desktopHD
    {
        width: 20%;
    }
}

.flexgrid
{
    display: flex;

    margin: 0 -.5rem;

    flex-wrap: wrap;
}

.flexcol
{
    display: flex;

    margin-bottom: 1rem;
    padding: 0 .5rem;

    flex: 1 1 100%;
    @include tablet
    {
        flex: 1 1 50%;
    }
    @include desktopHD
    {
        flex: 0 1 33.33%;
    }
}
