<a class="logo" href="http://www.bb-team.org">
	<svg style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 -6 110 36">
		<use xlink:href="#logo"></use>
	</svg>
</a>