<svg width="36px" viewBox="0 0 36 36">
	<use xlink:href="#my-bb"></use>
</svg>

<svg width="36px" viewBox="0 0 36 36">
	<use xlink:href="#Reading"></use>
</svg>

<svg width="36px" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 0 36 36">
	<use xlink:href="#store"></use>
</svg>

<svg width="36px" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;" viewBox="0 0 36 36">
	<use xlink:href="#forum"></use>
</svg>

<span>
	<object width="42px" type="image/svg+xml" data="../../glass.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../bottle.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-food.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-food.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-water.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-water.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-workout.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-workout.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-shopping.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-shopping.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-fridge.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-fridge.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-reading.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-reading.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-notes.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-notes.svg">
	</object>
</span>

<span>
	<object width="42px" type="image/svg+xml" data="../../small-measurements.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-measurements.svg">
	</object>
</span>

<span>
	<object width="54px" type="image/svg+xml" data="../../big-shopping.svg">
	</object>
</span>

<button class="fab-option fab-option-shopping">
</button>

<button class="fab-option fab-option-exercise">
</button>

<button class="fab-option fab-option-water">
</button>

<button class="fab-option fab-option-food">
</button>

<span>
	<object width="36px" type="image/svg+xml" data="../../great.svg">
	</object>
</span>

<span>
	<object width="36px" type="image/svg+xml" data="../../meh.svg">
	</object>
</span>

<span>
	<object width="36px" type="image/svg+xml" data="../../nogood.svg">
	</object>
</span>

<span>
	<object width="36px" type="image/svg+xml" data="../../add-photo.svg">
	</object>
</span>