<p>"Roboto Regular (400)", "Helvetica", "Arial", sans-serif;</p>
<p style="font-weight: 500">"Roboto Medium (500)", "Helvetica", "Arial", sans-serif;</p>
<p><strong>"Roboto Bold (600)", "Helvetica", "Arial", sans-serif;</strong></p>