&lt;button&gt;основен бутон&lt;/button&gt;

&lt;button class=&quot;ghost-button&quot;&gt;кух бутон&lt;/button&gt;

&lt;button class=&quot;grey-button&quot;&gt;сив бутон&lt;/button&gt;

&lt;button class=&quot;add-fab&quot; data-anijs=&quot;if: click, do: $toggleClass collapsed, to: .fab-options-wrapper; if: click, do: $toggleClass rotated-fab; if: mouseover, do: $toggleClass clip, to: .fab-wrapper; if: mouseout, do: $toggleClass clip, to: .fab-wrapper&quot;&gt;&lt;/button&gt;

&lt;button class=&quot;modal-submit&quot;&gt;